@page "/controls"

<PageTitle>Various Controls</PageTitle>

<h1>Controls</h1>
<h5>Using Multiple Components</h5>

<!-- You may add specific page head elements for a single razor component
     by using the HeadContent tag
-->
<HeadContent>
    <link href="~/StyleSheet.css" rel="stylesheet" />
</HeadContent>

<section class="row">

    <div class="col-md-4">
        <Textboxes />
    </div>

    <div class="col-md-4">
        <RadioCheckboxTextArea />
    </div>

    <div class="col-md-4">
        <ListAndSlider />
    </div>

</section>











@code {

}
