<!-- The following is called the 
    "at"page directive, and is the relative URL for navigating
    to this particular razor component (configured as a page)
-->
@page "/firstpage"

<!-- The PageTitle holds the text that will appear in the browser tab-->
<PageTitle>My First Page</PageTitle>

<!-- The following is just standard HTML content-->
<h1>First Page</h1>

<p>This is my very <strong>1st</strong> <span style="color:blue;">Blazor</span> page.</p>


<!-- The following block will allow us to add C# code into the page for mre dynamic
     tasks similar to a script tag allowing Javascript to be added to an HTML page
-->
@code {

}
